
.societyContainer {
    position: relative;
    padding-top: 20px;
    background-color: #fff;
    z-index: 1;
    margin: 0 auto;
    max-width: 15000px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: auto;
  }
  
  
  #h2 {
    text-align: center;
    padding: 30px;
    width:100%
  }
  
  
  .slick-slide {
    margin: 0 30px;
  }
  
  .slick-slide img {
    width: 100%;
    height: auto; 
  }
  
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    height: 280px; 
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  
  
  .slick-slide {
    display: none;
    float: left;
    height: 5%;
    min-height: 1px;
  }
  
  
  .slick-slide img {
    display: block;
  }
  
  
  .slick-initialized .slick-slide {
    display: inline-block;
  }
  
  
  .copy {
    padding-top: 50px;
  }
  
  
  @media screen and (max-width: 768px) {
    .societyContainer {
      width: 90%;
    }
  
    
    .slick-list {
      height: 200px;
    }
  }